# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA / STS
*.iml
.idea/
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Eclipse / STS specific
.apt_generated
.factorypath
.springBeans
bin/
tmp/
